.button-favorites {
  list-style-image: url("chrome://morekomodo/skin/favorite.png");
}

.link {
  color: #0000FF;
  text-decoration: underline !important;
  cursor: pointer;
}

.button-findresults-copy {
  list-style-image: url("chrome://morekomodo/skin/copy.png");
}

.button-findresults-copy:hover {
  list-style-image: url("chrome://morekomodo/skin/copy_hover.png");
}

.button-findresults-copy[disabled="true"],
.button-findresults-copy[disabled="true"]:hover {
  list-style-image: url("chrome://morekomodo/skin/copy.png");
  opacity: 0.5;
}

.button-findresults-refresh {
  list-style-image: url("chrome://morekomodo/skin/refresh.png");
}

.button-findresults-refresh[disabled="true"] {
  opacity: 0.5;
}

.button-findresults-openfoundfiles {
  list-style-image: url("chrome://morekomodo/skin/folder.png");
}

.button-findresults-openfoundfiles[disabled="true"] {
  opacity: 0.5;
}

.button-morekomodo-lockedit[checked] {
  list-style-image: url("chrome://morekomodo/skin/edit_lock.png");
}

.button-morekomodo-lockedit {
  list-style-image: url("chrome://morekomodo/skin/edit_unlock.png");
}

.button-morekomodo-lockedit[disabled="true"] {
  opacity: 0.5;
}

.button-findresults-find-by-selection {
  list-style-image: url("chrome://morekomodo/skin/find_by_selection.png");
}

#morekomodo-refresh-tooltip description {
  font-weight: bold;
}

/**
 * This is necessary because it the crop attribute is ignored when element is
 * inside an hbox
 */
#morekomodo-refresh-tooltip label {
  max-width: 600px;
}

.button-morekomodo-runoutput-clear {
  list-style-image: url("chrome://morekomodo/skin/clear.png");
}

tooltip[type="findinfotooltip"] {
  -moz-binding: url('chrome://morekomodo/content/bindings/findinfotooltip.xml#findinfotooltip');
  -moz-box-orient: vertical;
  max-width: 600px;
}