.unicodeTableChildren::-moz-tree-cell(charName) {
  background-color: #EEEEEE;
}

.unicodeTableChildren::-moz-tree-cell-text(charName) {
  color: #000000;
  font-size: 16px;
}

.unicodeTableChildren::-moz-tree-cell(charName, selected) {
  background-color: #999999;
}

.unicodeTableChildren::-moz-tree-cell-text(charName, selected) {
  color: #FFFFFF;
}